<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.propagate.mapper.UserTagMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.propagate.entity.UserTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="share_num" property="shareNum" jdbcType="INTEGER" />
    <result column="read_num" property="readNum" jdbcType="INTEGER" />
    <result column="creat_num" property="creatNum" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="UserTagResultMap" type="com.hummingbird.propagate.vo.TagVO" >
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, tag_id, share_num, read_num, creat_num, insert_time, update_time
  </sql>
  <sql id="user_tag_List" >
    u.tag_id,t.tag_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="queryUserTag" resultMap="UserTagResultMap" parameterType="java.lang.Integer" >
    select 
    u.tag_id,t.tag_name
    from t_user_tag u
    inner join t_tag t on u.tag_id=t.id
    where u.userid = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.propagate.entity.UserTag" useGeneratedKeys="true" keyProperty="id">
    insert into t_user_tag (id, userid, tag_id, 
      share_num, read_num, creat_num, 
      insert_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, 
      #{shareNum,jdbcType=INTEGER}, #{readNum,jdbcType=INTEGER}, #{creatNum,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.propagate.entity.UserTag" >
    insert into t_user_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="shareNum != null" >
        share_num,
      </if>
      <if test="readNum != null" >
        read_num,
      </if>
      <if test="creatNum != null" >
        creat_num,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="shareNum != null" >
        #{shareNum,jdbcType=INTEGER},
      </if>
      <if test="readNum != null" >
        #{readNum,jdbcType=INTEGER},
      </if>
      <if test="creatNum != null" >
        #{creatNum,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.propagate.entity.UserTag" >
    update t_user_tag
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="shareNum != null" >
        share_num = #{shareNum,jdbcType=INTEGER},
      </if>
      <if test="readNum != null" >
        read_num = #{readNum,jdbcType=INTEGER},
      </if>
      <if test="creatNum != null" >
        creat_num = #{creatNum,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.propagate.entity.UserTag" >
    update t_user_tag
    set userid = #{userid,jdbcType=INTEGER},
      tag_id = #{tagId,jdbcType=INTEGER},
      share_num = #{shareNum,jdbcType=INTEGER},
      read_num = #{readNum,jdbcType=INTEGER},
      creat_num = #{creatNum,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>