<%@ page language="java" import="java.util.*" pageEncoding="utf-8"%>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="cn" class="no-js">
  <head>
	<meta charset="UTF-8">
	<title>${title!'x传播'}</title>
	<meta name="Keywords" content="${Keywords!'x传播'}" />
	<meta name="Description" content="${Description!'x传播。'}" />
	<link rel="shortcut icon" href="/favicon.ico">
	  <script src="<%=path%>/js/helper.js" type="text/javascript"></script>	
	  <script src="<%=path%>/js/propagate.js" type="text/javascript"></script>
  </head>
  <body>
    <center>文章内容</center>
  </body>
</html>